<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan=2>Teams</th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
        <tr class="team_row" data-number=<%= team.number %>>
          <td width="15%"><%= team.number %></td>
          <td width="85%"><%= team.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @team_locations, renderer: BootstrapPagination::Rails %>

