<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-9">
    <div id="map" style="width:100%;height:100vh;"></div>
  </div>
  <div class="col-sm-3">
    <%= render 'team_locations/table' %>
  </div>
</div>
